.my-movies {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    color: #116feb;
}

.my-movies h1 {
    margin-bottom: 14px;
    color: white;
}

.my-movies span {
    font-size: 23px;
    font-weight: bold;
    width: 200px;
    text-align: center;
}

.my-movies ul {
    width: 350px;
    padding: 0px 20px;
    gap: 16px;
    width: 60%;
}

.my-movies ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.li-text {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.my-movies div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
}

.my-movies div a {
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
    text-decoration: underline;
}

.my-movies button {
    background-color: transparent;
    border: none;
    color: #116feb;
    cursor: pointer;
}

.my-movies img {
    width: 140px;
    border-radius: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}