.movie-info {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
    margin: 0 auto;
}

.movie-info h1 {
    margin: 14px 0;
}

.movie-info img {
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.movie-info h3 {
    margin-top: 14px;
}

.movie-info span {
    margin: 8px 0;
}

.buttons-area button{
    margin: 14px 12px 0 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.buttons-area button:hover {
    background-color: #116FEB;
    color: white;
}

.buttons-area a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}
.buttons-area a:hover {
    color: white;
}

