.movie-info {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
}

.movie-info h1 {
    margin: 14px 0;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.background-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.content {
  display: flex;
  gap: 30px;
  padding: 10px;
  color: white;
  backdrop-filter: blur(10px);
  width: 70%;
  border-radius: 20px;
  max-height: 400px;
  min-width: 350px;
}

.content-text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-image {
    width: 1000px;
    max-width: 300px;
    min-width: 100px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 20px;
}

.movie-info h3 {
    margin-top: 14px;
}

.movie-info span {
    margin: 8px 0;
}

.buttons-area button{
    margin: 14px 12px 0 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.buttons-area button:hover {
    background-color: #116FEB;
    color: white;
}

.buttons-area a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}
.buttons-area a:hover {
    color: white;
}

